<mat-table [dataSource]="dataSource" [matSortActive]="'Status'" class="mat-elevation-z8" matSort matSortDirection="desc">
  <ng-container matColumnDef="nodeId">
    <mat-header-cell *matHeaderCellDef mat-sort-header="NodeInfo.id"> NodeId</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="ellipsis"  matTooltip="{{element.NodeInfo.id}}">{{element.NodeInfo.id}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="moniker">
    <mat-header-cell *matHeaderCellDef mat-sort-header="NodeInfo.moniker"> Moniker</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="ellipsis" matTooltip="{{element.NodeInfo.moniker}}">{{element.NodeInfo.moniker}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header="Status"> Status</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon class="{{element.Status}}" matTooltip="{{element.Error}}">{{element.Status}}</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="LastValue">
    <mat-header-cell *matHeaderCellDef mat-sort-header="LastValue">
      <span class="ellipsis" matTooltip="Peers returned"> Peers returned </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.LastValue}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="peers">
    <mat-header-cell *matHeaderCellDef> Peers</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.Error?.length === 0" matTooltip="Not implemented">list</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" [pageSize]="10" showFirstLastButtons>
</mat-paginator>
