table {
  width: 100%;
}

.mat-column-nodeId {
  flex-grow: 3;
}
.mat-column-moniker {
  flex-grow: 1;
}
.mat-column-status {
  width: 1%;
  min-width: 20px;
}
.mat-column-LastValue {
  width: 1%;
  min-width: 20px;
}
.mat-column-peers {
  width: 1%;
  min-width: 20px;
}

span.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.check_circle {
  color: green;
}
.warning {
  color: darkred;
}
