textarea {
  height: 30em;
}

mat-form-field {
  width: 100%;
}

.fab-button {
  float: right;
  position: fixed;
  bottom: 50px;
  right: 90px;
}

.spinner {
  float: left;
  position: fixed;
  left: 50%;
  top: 50%;
  color: #3f51b5;
}
